name: Publish to pkg.go.dev

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      
      - name: Verify module
        run: go mod verify
      
      - name: Check module
        run: |
          go list -m
          go list -m -versions github.com/mentatxx/go-mail-ru-client

